.legend
{
    width: initial;
    padding: 0 10px;
    border-bottom: none;
    background: -webkit-linear-gradient(top, black 0% , white 100%);
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
fieldset{
    margin: 1%;
    background: url('./images/back.webp');
}
.p1
{
    text-align: center;
    margin-top: 20%;
    font-size: 180%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orangered;
}
.p2
{
    margin-top: 5%;
    font-family: cursive;
    color: yellow;

}
.p3 , .p5
{
    font-size: 200%;
    font-style: oblique;
}
.p4
{
    font-family: cursive;
}
#id1
{
    width: 100%;
    height: auto;
}
.im1
{
    width: 100%;
    border-radius: 100%;
    margin-right: 5%;
    margin-top: 5%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.cl{
    margin-top: 5%;
    background-color: darkslategrey;
    font-style: oblique;
    font-size: 150%;
    color: white;
}
.social
{
    margin-right: 5%;
    margin-left: 5%;
}
.q1
{
    font-size: 70%;
    margin-left: 40%;
}
#my
{
    width: 70%;
}